
 
    <!-- Uses built-in `if` helper. -->
  {{#if title}}
    <h1>Home</h1>
  {{/if}}
 
    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{title}}</p>
 
    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{title}}</p>
    
    <p>Salman</p>