<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>BlueStack</title>
  <link rel="stylesheet" type="text/css" href="/css/product-list-basic.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</style>
</head>

<body>
<div class="bs-example">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
  <!-- Brand/logo -->
  <a class="navbar-nav" href="/ApplistAll">
    <img src="img/bluestack.png" alt="logo" style="width:100px;">
  </a>

  <a class="navbar-brand ml-auto pull-right" href="/ReScrap" >
    <img src="img/reload.png" alt="logo" style="width:30px;">
  </a>
  
  
</nav>

</div>
{{!body will be rendered from res.render(template name);}}
  {{{body}}}
</body>

</html>