<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>
 
<body>
    {{!body will be rendered from res.render(template name);}}
    {{{body}}}
 
</body>
 
</body>
</html>